EmployeeWebApp/Connected Services/WebServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Service.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Service.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Service.org/">
      <s:element name="Verification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StaffID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StaffID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIDResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OutstandingReq">
        <s:complexType />
      </s:element>
      <s:element name="OutstandingReqResponse">
        <s:complexType />
      </s:element>
      <s:element name="ConfirmedReq">
        <s:complexType />
      </s:element>
      <s:element name="ConfirmedReqResponse">
        <s:complexType />
      </s:element>
      <s:element name="EmployeeHolidayStatus">
        <s:complexType />
      </s:element>
      <s:element name="EmployeeHolidayStatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="SubmitHolidayReq">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startH" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endH" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="StaffID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitHolidayReqResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubmitHolidayReqResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerificationSoapIn">
    <wsdl:part name="parameters" element="tns:Verification" />
  </wsdl:message>
  <wsdl:message name="VerificationSoapOut">
    <wsdl:part name="parameters" element="tns:VerificationResponse" />
  </wsdl:message>
  <wsdl:message name="GetIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetID" />
  </wsdl:message>
  <wsdl:message name="GetIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetIDResponse" />
  </wsdl:message>
  <wsdl:message name="OutstandingReqSoapIn">
    <wsdl:part name="parameters" element="tns:OutstandingReq" />
  </wsdl:message>
  <wsdl:message name="OutstandingReqSoapOut">
    <wsdl:part name="parameters" element="tns:OutstandingReqResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmedReqSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmedReq" />
  </wsdl:message>
  <wsdl:message name="ConfirmedReqSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmedReqResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeHolidayStatusSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeHolidayStatus" />
  </wsdl:message>
  <wsdl:message name="EmployeeHolidayStatusSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeHolidayStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitHolidayReqSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitHolidayReq" />
  </wsdl:message>
  <wsdl:message name="SubmitHolidayReqSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitHolidayReqResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Verification">
      <wsdl:input message="tns:VerificationSoapIn" />
      <wsdl:output message="tns:VerificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetID">
      <wsdl:input message="tns:GetIDSoapIn" />
      <wsdl:output message="tns:GetIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OutstandingReq">
      <wsdl:input message="tns:OutstandingReqSoapIn" />
      <wsdl:output message="tns:OutstandingReqSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmedReq">
      <wsdl:input message="tns:ConfirmedReqSoapIn" />
      <wsdl:output message="tns:ConfirmedReqSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeHolidayStatus">
      <wsdl:input message="tns:EmployeeHolidayStatusSoapIn" />
      <wsdl:output message="tns:EmployeeHolidayStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitHolidayReq">
      <wsdl:input message="tns:SubmitHolidayReqSoapIn" />
      <wsdl:output message="tns:SubmitHolidayReqSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Verification">
      <soap:operation soapAction="http://Service.org/Verification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetID">
      <soap:operation soapAction="http://Service.org/GetID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutstandingReq">
      <soap:operation soapAction="http://Service.org/OutstandingReq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmedReq">
      <soap:operation soapAction="http://Service.org/ConfirmedReq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeHolidayStatus">
      <soap:operation soapAction="http://Service.org/EmployeeHolidayStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitHolidayReq">
      <soap:operation soapAction="http://Service.org/SubmitHolidayReq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Verification">
      <soap12:operation soapAction="http://Service.org/Verification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetID">
      <soap12:operation soapAction="http://Service.org/GetID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutstandingReq">
      <soap12:operation soapAction="http://Service.org/OutstandingReq" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmedReq">
      <soap12:operation soapAction="http://Service.org/ConfirmedReq" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeHolidayStatus">
      <soap12:operation soapAction="http://Service.org/EmployeeHolidayStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitHolidayReq">
      <soap12:operation soapAction="http://Service.org/SubmitHolidayReq" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:55125/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:55125/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>